html(lang="es")
 head
  title Nombre del Sistema 
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
  script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
 body
  nav(class="navbar navbar-expand-lg navbar-light bg-light")
   button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
   a(class="navbar-brand" href="/") Nombre del Sistema
   div(class="collapse navbar-collapse" id="navbarTogglerDemo03")
    ul(class="navbar-nav mr-auto mt-2 mt-lg-0")
     li(class="nav-item active")
      a(class="nav-link" href="/") Inicio
     li(class="nav-item dropdown")
      a(class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Registrar
      div(class="dropdown-menu" aria-labelledby="navbarDropdown")
       a(class="dropdown-item" href="/operador/add") Operador
       a(class="dropdown-item" href="/conductor/add") Conductor
       a(class="dropdown-item" href="/vehiculo/registrar") Vehiculo
     li(class="nav-item dropdown")
      a(class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Opciones
      div(class="dropdown-menu" aria-labelledby="navbarDropdown")
       a(class="dropdown-item" href="/vehiculo/visualizar") Visualizar vehiculos
       a(class="dropdown-item" href="/operador/") Visualizar operadores
       a(class="dropdown-item" href="/conductor/") Visualizar conductores
     li(class="nav-item")
      a(class="nav-link" href="#") Ayuda
   form(action="/vehiculo/transmitir" method="post" class="form-inline")
      input(class="form-control mr-sm-2" type="search" name="placa" id="placa" placeholder="Placa" aria-label="Search")
      input(class="form-control mr-sm-2" type="search" name="password" id="password" placeholder="password" aria-label="Search")
      button(class="btn btn-outline-success my-2 my-sm-0" type="submit") Transmitir
  block content